@import 'base/null';
@import 'base/fonts';
@import 'base/variables';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/circle';
@import 'blocks/form';
@import 'blocks/contact';
@import 'blocks/top';
@import 'blocks/advantages';
@import 'blocks/our-work';
@import 'blocks/agent';
@import 'blocks/delivery';
@import 'blocks/consultation';
@import 'blocks/manage';
@import 'blocks/scheme';
@import 'blocks/review';
@import 'blocks/question';
@import 'blocks/footer';
@import 'blocks/square';
@import 'blocks/modal-form';
@import 'blocks/linktotop';
@import 'blocks/message';
@import 'base/media';

.container{
    margin: 0 auto;
    display: block;
    
}
*,a,p,div{
    font-family:'Roboto',sans-serif;
}
