@import 'base/null';
@import 'base/fonts';
@import 'base/variables';
@import 'blocks/buttons';
@import 'blocks/top';

.container{
    margin: 0 auto;
    display: block;
    max-width: 1140px;
}
*,a,p,div{
    font-family:'Roboto',sans-serif;
}