.btn{
    width: 160px;
    line-height: 45px;
    border-radius: 22.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    background-color: $maincolor;
}