.contact {
    display: flex;
    flex-direction: row;
    flex:0 1 340px;
    justify-content: space-between;
    align-items: center;
}
.phone {
    p{
        font-size: 14px;
        text-align: right;
        color: #fff;
        margin-bottom: 5px;
    }
    a{
        font-size: 19px;
        color: #fff;
        font-weight: 500;
        text-align: right;
    }
}