.manage {
    background: url('/img/background/manager_background.png')center (center/cover) no-repeat;
    min-height: 342px;
    padding-top: 58px;
    padding-bottom: 76px;
}
.manage__logo {
    margin: 0 auto;
    border:1px solid #fff;
    margin-bottom: 20px;
}

.manage__title {
    margin-bottom: 18px;
}
.manage__subtitle {
    padding: 0 105px;
}