.scheme {
    padding-top: 51px;
    padding-bottom: 21px;
    background-color: #f3f3f3;

}
.scheme__title {
    margin-bottom: 33px;
}
.scheme__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 26px;
}
.scheme__item {
    flex:0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scheme__img {
    margin-bottom: 7px;
    height: 57px;
}
.scheme__type {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $maincolor;
}
.scheme__descr{
    padding: 0 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #3a3a3a;
}
